<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat page</title>
    <link rel="stylesheet" href="../styles/chat.css">
    <script src="../scripts/chat.js" defer></script>
</head>
<body>
<div class="chat_page">
    <div class="user_info">
        <p id="username"></p>
        <p id="uuid"></p>

        <div class="form">
            <input type="text" id="chat_inp" name="chat_inp" placeholder="Enter your message..." onblur="getVal()">
            <button id="form-submit">Send</button>
        </div>
    </div>

    <div class="chat">
        <h2>LET'S GO CHAT</h2>

        <div class="chat_message">
            <p><span>Maks: </span> hello every one!</p>
        </div>

        <div class="chat_message">
            <p><span>Maks: </span> hello every one!</p>
        </div>

        <div class="chat_message">
            <p><span>Maks: </span> hello every one!</p>
        </div>
    </div>
</div>
</body>
</html>