body {
    margin: 0;
    padding: 0;
}

.user_info {
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 1;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.22);
}

#username {
    font-size: 20px;
    font-weight: bold;
}

#uuid {
    font-size: 14px;
    margin-top: -10px;
}

.chat {
    margin-left: 300px;
    padding: 1px 40px;
}

.chat h2 {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 15px;
    margin-top: 0px;
}

.chat_message {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.22);
    padding: 5px 15px;
    margin: 10px 0;
}

.chat_message p span {
    font-weight: bold;
    font-size: 18px;
    color: #43A047;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    text-align: center;
    margin-top: 50px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

